@font-face {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:    url('../fonts/PTSans-Regular.woff2') format('woff2'),
            url('../fonts/PTSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:    url('../fonts/PTSans-Bold.woff2') format('woff2'),
            url('../fonts/PTSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Exo2';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:    url('../fonts/Exo2-SemiBold.woff2') format('woff2'),
            url('../fonts/Exo2-SemiBold.woff') format('woff');
}
